
{% block profile %}

<div class="row-fluid">

	<div class="span3 sidebar">

		<div class="searchbar">
			<input type="text" class="field" placeholder="User search">
		</div>

		<div class="profile">
			<div class="name">xOwnAge3x</div>
			<div class="followers">
				<b>23483</b> Followers
			</div>
			<div class="follow">
				<button class="btn btn-success">Follow</button>
			</div>
		</div>

	</div>

	<div class="span9 wall">

	test

	</div>

</div>

{% endblock %}