#feed {
	/*width: 700px;*/
}

#feed p {
	color: #999999;
	font-weight: lighter;
	line-height: 14px;
}

#feed p b {
	color: #707070;
}

#feed .vertical-container {
	height: 99px;
	display: table;
}

#feed .span3 #feeds, #feed .span2 .logo, #feed .span3 #follower-feed {
	display: table-cell;
	vertical-align: middle;
}

#feed .vertical-container {
	width: 100%;
}


#feed .span2 .vertical-container {
	text-align: center;
}

#feed .span3 #feeds {
	text-align: right;
}

#feed .span3 #follower-feed {
	text-align: left;
}

#feed .span2 .logo p {

	color: #707070;
	font-weight: bold;

}

#feed .span3 #follower-feed {

	color: #999999;


}