<div class="toolbar">

				<div class="row-fluid">
					<div class="span6">
						<div class="header">
							<div class="row-fluid">
								<div class="span2">
									<div class="option pull-left">
										+
									</div>
								</div>

								<div class="span8 text-center title">Dennis</div>

								<div class="span2">
									<div class="option pull-right">
										+
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="row-fluid">
					<div class="span6">
						<div class="skim-logo">Skim</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span6">
						<div class="items"></div>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span6">
						<div class="input-bar">
							<div class="row-fluid">
								<div class="span10">
									<input type="text">
								</div>
								<div class="span2 text-right">
									<button class="btn">+</button>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
