#launch {

}

#launch .element {

	width: 120px;
	float: left;
	margin-right: 80px;
	margin-top: 30px;
	opacity: 0;
	filter: alpha(opacity=0);
    cursor: pointer;

}

#launch .element .icon {

	margin-bottom: 20px;

}

#launch .element img {
	height: 80px;
}

#launch .element .button {

	padding: 4px 8px;
    background: rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    margin: 0 auto;
    display: inline-block;
    width: 70px;

}

